/.devpanel/dumps/
/.editorconfig
/.gitattributes
/.vscode/
/AGENTS.md
/assets/
/composer.json
/composer.lock
/config/
/CONTRIBUTING.md
/launch-drupal-cms.sh
/logs/*
!/logs/README.md
/packages.json
/patches.lock.json
/private/
/README.md
/recipes/
/vendor/
/web/
